body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
}

button {
    border: none;
    cursor: pointer;
    font-size: 18px;
    display: inline-block;
    position: relative;
    height: 200px;
    width: 40px;
    margin: 0 2px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s ease, transform 0.1s ease;
}

button:active {
    transform: translateY(4px);
}

button:focus {
    outline: none;
}
